footer {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container p {
  color: white;
  margin: 0;
  color: #777777;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  margin: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-icons:first-child {
  background-color: black;
}

.footer-icons:nth-child(2) {
  background-color: #4267b2;
}

.footer-icons:nth-child(3) {
  background-color: #1da1f2;
}

.footer-icons:nth-child(4) {
  background-color: #ff69b4;
}
.footer-icons:nth-child(5) {
  background-color: #0e76a8;
}
.footer-icons:last-child {
  background-color: #c8232c;
}
