@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }
  nav {
    padding: 20px 60px;
  }
  nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    left: -90%;
    position: absolute;
    top: 80px;
    transition: all 1s ease-in-out;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  .slide-out {
    background-color: black;
    left: 0%;
  }
  .fa-bars {
    font-size: 32px;
  }

  .info-container {
    padding: 40px;
  }
  .info-text .info-buttons {
    display: flex;
    flex-direction: column;
  }
  .info-text .info-buttons button {
    margin-bottom: 20px;
  }

  .info-image img {
    object-fit: contain;
  }

  .info-buttons button {
    width: 100%;
  }
  .partners-container {
    width: 100%;
  }
  .partners-cards .cards:last-child {
    display: none;
  }
  .partners-cards .cards img {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .info-image-text {
    flex-direction: column;
    margin-top: 60px;
  }

  .info-text {
    width: auto;
  }

  .partners .partners-cards {
    flex-direction: column;
  }

  .partners .partners-cards .cards {
    width: 100%;
    margin-bottom: 25px;
  }

  .cards .card-image img {
    width: 100%;
  }

  .contact-text {
    flex-direction: column;
  }

  .contact-text-icon {
    margin: 10px;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 55px;
  }

  .header-middle {
    padding: 20px;
  }
  .header-middle h3 {
    width: 100%;
  }

  .header-social-links {
    flex-direction: column;
  }

  .header-social-links .header-rows {
    margin-bottom: 20px;
  }

  .info-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-image img {
    width: 70%;
  }

  .contact-container p {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
